body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2EBD5;
}

#root {
  /*border: 1px solid red;*/
  margin-top: 30px;
  max-width: 1030px;
}

code {
  font-family: 'Karla', sans-serif;
}

.general {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.editor {
  margin-left: 6px;
}

.editor-title {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 19px;
  color: #8F8FA8;
}

.editor-textarea {
  font-family: 'Karla', sans-serif;
  border: 1px solid #A3C7C6;
  font-size: 14px;
  outline: none;
  resize: none;
  overflow: auto;
  margin-top: 12px;
}

/*.sidebar {
  border: 1px solid blue;
}*/

.sidebar--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  color: #8F8FA8;
  border-bottom: 1px solid #A3C7C6;
}

.sidebar--header > h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.new-note {
  border: none;
  height: 80%;
  min-width: 60px;
  width: 20%;
  background: #8F8FA8;
  color: #F2EBD5;
  text-align: center;
}

.plus-icon {
  padding: 4px 2px;
  text-align: center;
}

.sidebar--note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #8F8FA8;
  width: 100%;
  text-align: left;
}

.sidebar--note > h4 {
  width: 60%;
  margin-left: 0;
  /*border: 1px solid blue;*/
}

.sidebar--trash {
  border: none;
  height: 100%;
  min-width: 50px;
  width: 20%;
  background: #8F8FA8;
  color: #F2EBD5;
  text-align: center;
}

.trash-icon {
  padding: 4px 2px;
  text-align: center;
}

.first-note {
  border: none;
  height: 100%;
  min-width: 50px;
  width: 20%;
  padding: 8px;
  font-size: 18px;;
  background: #8F8FA8;
  color: #F2EBD5;
  text-align: center;
}

.no-notes > h1 {
  font-size: 2rem;
  font-weight: bold;
}

